@model IEnumerable<PeopleMVC.Models.Person>

@{
    ViewData["Title"] = "Home";
}

@using (Html.BeginForm("Index", "Home"))
{
    <div id="search-form">
        <input type="text" name="filterWord" value="Search" required>
        <input type="submit" value="Search">
    </div>
    
}


<div class="text-center">
     <form method="get" action="@Url.ActionLink("Index", "Home")">
         <input type="text" name="Name" value="Name" required>
         <input type="text" name="PhoneNumber" value="Phone" required>
         <input type="text" name="City" value="City" required>
         <input type="submit" value="Add">
     </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>               
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
